button.btn1 {
  grid-area: btn1;
}

button.btn2 {
  grid-area: btn2;
}

button.btn3 {
  grid-area: btn3;
}

button.btn4 {
  grid-area: btn4;
}
button.btn1,
button.btn2,
button.btn3,
button.btn4 {
  margin: auto;
  width: 6rem;
  height: 6rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
button.btn1:active,
button.btn2:active,
button.btn3:active,
button.btn4:active {
  color: blue;
  font-size: 1.43rem;
  box-shadow: 0px 1px 8px;
}