div.main > input {
  margin: 10px auto;
  background-color: rgb(221, 222, 135);
  border-radius: 50%;
  box-shadow: 0px 1px 5px;
  color: rgb(31, 95, 31);
  width: 6rem;
  height: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
input#firstNumber {
  grid-area: input1;
}

input#secondNumber {
  grid-area: input2;
}